In [91]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [92]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1539,tt0454824,60000000,17800000,Flyboys,James Franco|Scott Hazell|Mac McDonald|Philip ...,Tony Bill,Inspired by a true story,"The adventures of the Lafayette Escadrille, yo...",140,Action|Adventure|Drama|History|Romance,Ingenious Film Partners|Electric Entertainment...,9/22/2006,6.1,2006
1375,tt0398017,22000000,57479076,Derailed,Clive Owen|Jennifer Aniston|Vincent Cassel|Mel...,Mikael HÃ¥fstrÃ¶m,He never saw it coming.,When two married business executives having an...,108,Drama|Thriller,Miramax Films|Di Bonaventura Pictures|Patalex ...,11/11/2005,6.2,2005
84,tt3567288,5000000,98450062,The Visit,Olivia DeJonge|Ed Oxenbould|Kathryn Hahn|Benja...,M. Night Shyamalan,No one loves you like your grandparents.,The terrifying story of a brother and sister w...,94,Horror|Thriller,Blumhouse Productions|Blinding Edge Pictures,9/10/2015,5.9,2015
53,tt2717822,70000000,17752940,Blackhat,Chris Hemsworth|Leehom Wang|Tang Wei|Viola Dav...,Michael Mann,We are no longer in control.,A man is released from prison to help American...,133,Mystery|Crime|Action|Thriller|Drama,Universal Pictures|Forward Pass|Legendary Pict...,1/13/2015,5.0,2015
563,tt0245686,17700000,30987695,Joe Dirt,David Spade|Brittany Daniel|Dennis Miller|Adam...,Dennie Gordon,He Came. He Cleaned. He Conquered.,"Joe Dirt is a janitor with a mullet hairdo, ac...",91,Mystery|Adventure|Comedy|Romance|Drama,Columbia Pictures|Happy Madison Productions,4/10/2001,5.5,2001

In [93]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [94]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['profit'] = data.revenue - data.budget


def month_count(date):
    month_day_year = date.split('/')
    month = int(month_day_year[0])
    months = {
        1: 'Январь',
        2: 'Февраль',
        3: 'Март',
        4: 'Апрель',
        5: 'Май',
        6: 'Июнь',
        7: 'Июль',
        8: 'Август',
        9: 'Сентябрь',
        10: 'Октябрь',
        11: 'Ноябрь',
        12: 'Декабрь'
    }
    months.setdefault(month, 'Неверный месяц')
    return months[month]


def permute(lst):
    lst = lst.split('|')
    abc = []
    for name1 in lst:
        for name2 in lst:
            if name1 == name2:
                continue
            abc += [(name1, name2)]
    return abc

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [95]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# +

In [96]:
data[data.budget.max() == data.budget].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [97]:
answers['2'] = 'Gods and Generals'
# +

In [98]:
data[data.runtime.max() == data.runtime].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [99]:
answers['3'] = 'Winnie the Pooh'
# +

In [100]:
data[data.runtime.min() == data.runtime].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [101]:
answers['4'] = '110'
# +

In [102]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [103]:
answers['5'] = '107.0'
# +

In [104]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [105]:
answers['6'] = 'Avatar'
# +

In [106]:
data[data.profit.max() == data.profit].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [107]:
answers['7'] = 'The Lone Ranger'
# +

In [108]:
data[data.profit.min() == data.profit].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [109]:
answers['8'] = '1478'
# +

In [110]:
data[data.revenue > data.budget].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [111]:
answers['9'] = 'The Dark Knight'
# +

In [112]:
movie_2008 = data[data.release_date.str.contains('2008')]
movie_2008[movie_2008.revenue.max() == movie_2008.revenue].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [113]:
answers['10'] = 'The Lone Ranger'
# +

In [114]:
movie_2012_2014 = data[data.release_date.str.contains('2012') |
                        data.release_date.str.contains('2013') |
                        data.release_date.str.contains('2014')]
movie_2012_2014[movie_2012_2014.profit.min() == movie_2012_2014.profit].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [115]:
answers['11'] = 'Drama'
# +

In [116]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [117]:
answers['12'] = 'Drama'
# +

In [118]:
movie_profit = data[data.profit > 0]
Counter(movie_profit.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [119]:
answers['13'] = 'Peter Jackson'
# +

In [120]:
movie_one_director = data.copy()
movie_one_director.director = movie_one_director.director.str.split('|')
movie_one_director = movie_one_director.explode('director')
movie_one_director.groupby('director').revenue.sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [121]:
answers['14'] = 'Robert Rodriguez'
# +

In [122]:
movie_one_genre = data[data.genres.str.contains('Action')].copy()
movie_one_genre.director = movie_one_genre.director.str.split('|')
movie_one_genre = movie_one_genre.explode('director')
movie_one_genre.director.value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [123]:
answers['15'] = 'Chris Hemsworth'
# +

In [124]:
movie_2012 = data[data.release_date.str.contains('2012')].copy()
movie_2012.cast = movie_2012.cast.str.split('|')
movie_2012 = movie_2012.explode('cast')
movie_2012.groupby('cast').revenue.sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [125]:
answers['16'] = 'Matt Damon'
# +

In [126]:
movie_budget = data[data.budget > data.budget.mean()].copy()
movie_budget.cast = movie_budget.cast.str.split('|')
movie_budget = movie_budget.explode('cast')
movie_budget.cast.value_counts().sort_values(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [127]:
answers['17'] = 'Action'
# +

In [128]:
movie_Cage = data[data.cast.str.contains('Nicolas Cage')].copy()
movie_Cage.genres = movie_Cage.genres.str.split('|')
movie_Cage = movie_Cage.explode('genres')
movie_Cage.groupby('genres').genres.value_counts().sort_values(ascending=False).head(1)

genres  genres
Action  Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [129]:
answers['18'] = 'K-19: The Widowmaker'
# +

In [130]:
movie_Paramount = data[data.production_companies.str.contains('Paramount Picture')]
movie_Paramount[movie_Paramount.profit.min() == movie_Paramount.profit].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [131]:
answers['19'] = '2015'
# +

In [132]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [133]:
answers['20'] = '2014'
# +

In [134]:
movie_Warner = data[data.production_companies.str.contains('Warner Bros')]
movie_Warner.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [135]:
answers['21'] = 'Сентябрь'
# +

In [136]:
movie_month = data.copy()
movie_month.release_date = movie_month.release_date.apply(month_count)
movie_month.release_date.value_counts().sort_values(ascending=False).head(1)

Сентябрь    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [137]:
answers['22'] = '450'
# +

In [138]:
movie_month[movie_month.release_date.isin(['Июнь', 'Июль', 'Август'])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [139]:
answers['23'] = 'Peter Jackson'
# +

In [140]:
movie_winter = movie_month[movie_month.release_date.isin(['Декабрь', 'Январь', 'Февраль'])].copy()
movie_winter.director = movie_winter.director.str.split('|')
movie_winter = movie_winter.explode('director')
movie_winter.groupby('director').director.value_counts().sort_values(ascending=False).head(1)

director       director
Peter Jackson  Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [141]:
answers['24'] = 'Four By Two Productions'
# +

In [142]:
movie_companies = data.copy()
movie_companies['title_length'] = movie_companies.original_title.apply(lambda x: len(str(x)))
movie_companies.production_companies = movie_companies.production_companies.str.split('|')
movie_companies = movie_companies.explode('production_companies')
movie_companies.groupby('production_companies').title_length.mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [143]:
answers['25'] = 'Midnight Picture Show'
# +

In [144]:
movie_companies['overview_words'] = movie_companies.overview.apply(lambda x: len(str(x).split(' ')))
movie_companies.production_companies = movie_companies.production_companies.str.split('|')
movie_companies = movie_companies.explode('production_companies')
movie_companies.groupby('production_companies').overview_words.mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: overview_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [145]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [146]:
perc = np.percentile(data.vote_average, 99)
data[data.vote_average > perc].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [147]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
# +

In [148]:
movie_pairs = data.copy()
movie_pairs.cast = movie_pairs.cast.apply(permute)
movie_pairs = movie_pairs.explode('cast')
movie_pairs.cast.value_counts().head(1)

(Daniel Radcliffe, Rupert Grint)    8
Name: cast, dtype: int64

# Submission

In [149]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [150]:
len(answers)

27